/* ==========================================================================
   Image caption
   ========================================================================== */
figcaption {
    color: grey;
    padding: 2px;
    font-family: system-ui,Helvetica,Arial,sans-serif ;
    font-size: $type-size-caption;
    text-align: center;
    padding-bottom: 2.5em;
  }